body {
  margin: 0;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
}

.header {
  height: auto;
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding-left: 24px;
  padding-right: 24px;
  gap: 16px;
}

a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

ul {
  display: flex;
  padding: 0;
  margin: 0;
  align-items: normal;
  list-style: none;
  gap: 24px;
}

.first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  color: white;
  padding-bottom: 24px;
}

.first-section {
  display: flex;
  justify-content: space-evenly;
  gap: 16px;
  align-items: center;
  height: auto;
  background-color: #1f2937;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 24px; /* change this to put the image at the bottom */
  padding-top: 24px;
  flex-wrap: wrap;
}

button {
  width: 100px;
  height: 30px;
  color: white;
  background-color: #3B82F6;
  align-items: center;
  border-radius: 5%;
  border: none;
}



.second-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  padding-top: 18px;
  padding-bottom: 18px;
}

.title {
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
}

.thumbs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  flex-wrap: wrap;
}

.some-image {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid rgb(98, 91, 165);
  border-radius: 10%;
  width: 150px;
  height: 150px;
}

.second {
  display: flex;
  flex-direction: column;
}

.second img {
    display: flex;
    border-radius: 5%;
    width: 400px;
    height: 250px;
}

.thumbs p {
  text-align:center;
  width: 150px;
  padding-left: 3px;
  font-size:14px;
}

.third-section {
  display: flex;
  background-color: #E5E7EB;
  height: auto;
  width: auto;
  justify-content: space-around;
  align-items: center;
  padding: 48px;
  flex-direction: column;
  flex-wrap: wrap;
}

.third-section .quote {
  display: flex;
  max-width: 600px;
  flex-wrap: wrap;
  font-size: x-large;
}

/* .third-section .blockquote {
display: flex;
width: 600px;
align-items: center;
justify-content: flex-end;
flex-wrap: wrap;
} */

.fourth-section {
  display: flex;
  justify-content: space-around;
  height: auto;
  padding: 32px;
}

.rectangle {
  display: flex;
  /* width: 800px; */
  height: auto;
  background-color: #3B82F6;
  align-items: flex-end;
  /* justify-content: space-between; */
  border-radius: 2%;
  padding: 24px 64px;
  flex-wrap: wrap;
  gap: 64px;
}

.paragraphs {
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: white;
}

.paragraphs p {
  margin: 0px;
}

.paragraphs .bolder {
  font-weight: 900;
}

.rectangle button {
  background-color: #3B82F6;
  border: 2px solid white;
}

.fifth-section {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #1f2937;
  font-size: 14px;
}